#contenedor-palabras {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fila-pixel-art {
    display: flex;
    justify-content: center;
}

.cuadradito-pixel-art {
    padding: 0px;
    width: 3px;
    height: 3px;
    transition: 0.75s all;
}

.verde {
    background-color: rgb(0, 128, 0);
}

.negro {
    background-color: black;
}
