@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("./autoTextPixelArt.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-secundario: rgb(140, 140, 255);
    --box-shador-titulo: 0px 0px 1px rgb(0, 0, 255);
    --altura-header: 45px;
    --ancho-boton-navBar: calc(var(--altura-header) - 20px);
    --ancho-navBar-responsive: 75vw;
}

html {
    font-size: 16px;
}

.noTerminado {
    font-weight: bold;
    color: rgb(170, 0, 0);
    font-size: 0.75rem;
    position: fixed;
    right: 1vw;
    top: 1vh;
}

main {
    padding: 0px 10px;
    position: relative;
}

header {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0px;
    opacity: 1;
    z-index: 100;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, rgba(140, 140, 255, 1), rgba(140, 140, 255, 0.5));
    backdrop-filter: blur(4px);
    height: var(--altura-header);
}

#botonNavBar {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    padding: 3px;
    color: rgb(0, 0, 0);
    transition: 0.25s all;
    cursor: pointer;
    user-select: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

nav ul li:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    text-shadow: var(--box-shador-titulo);
}

.separacionSeccion {
    border-top: 2px dashed black;
}

.div-sobreMi {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.contenedor-detalles-sobremi {
    padding: 10px;
    border-radius: 5px;
}

.contenedor-detalles-sobremi p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contenedor-detalles-sobremi p a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

#seccionProyectos {
    padding: 20px 0px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    text-align: center;
    text-shadow: var(--box-shador-titulo)
}

#contenedorProyectos {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 15px;
}

.proyecto-carta {
    padding: 10px;
    max-width: 300px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
}

.proyecto-carta:hover .proyecto-imagen {
    filter: brightness(105%)
}

.proyecto-titulo {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 45px;
    background-color: var(--color-secundario);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.proyecto-div-imagen {
    position: relative;
}

.proyecto-imagen {
    width: 100%;
    border: 2px dashed rgb(0, 0, 0);
    transition: 0.5s all;
}

.proyecto-icono {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 30px;
}

.proyecto-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 45px;
    background-color: var(--color-secundario);
    font-weight: bold;
}

.proyecto-enlaces {
    display: flex;
    justify-content: space-evenly;
}

.proyecto-enlaces a {
    padding: 1px 10px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background-color: rgb(220, 220, 220);
    text-decoration: none;
}

.proyecto-enlaces a:hover {
    background-color: rgb(200, 200, 255);
    outline: 1px solid rgb(100, 100, 255);
}

.htmlContent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 200px;
}

.htmlContent {
    display: flex;
    justify-content: space-evenly;
}

#seccionContacto {
    padding: 20px 0px;
}

#contenedorContacto {
    margin: 0px auto;
    padding: 35px 10px 10px 10px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
}

.labelForm {
    position: relative;
    transition: 0.5s all;
}

.labelFormTextArea {
    margin-bottom: 10px;
    position: relative;
    transition: 0.2s all;
}

.inputForm {
    padding: 3px 1px 0px 1px;
    border: 0px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: 0px;
    font-size: 1.2rem;
    width: 100%;
    transition: 0.2s all;
}

.textAreaForm {
    padding: 5px 1px 0px 1px;
    border: 0px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: 0px;
    font-size: 1.2rem;
    width: 100%;
    height: 150px;
    transition: 0.2s all;
}

.container-Letras {
    position: absolute;
    bottom: 0px;
    left: 1px;
    display: flex;
    font-size: 1.2rem;
    pointer-events: none;
}

.container-LetrasTextArea {
    position: absolute;
    top: 5px;
    left: 1px;
    display: flex;
    font-size: 1.2rem;
}

.letrasAnimadas {
    color: rgb(100, 100, 100);
}

.letrasArriba {
    translate: 0px -35px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#contenedor-fondoColores {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -100;
}

#contenedorContacto button {
    padding: 5px 0px;
    font-size: 1rem;
}

.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cuadradito {
    width: 20px;
    height: 20px;
    transition: 1s all;
    border-radius: 50%;
}

#seccionTecnologias {
    padding: 20px 0px;
}

#seccionTecnologias div h2 {
    margin-bottom: 0px;
}

#seccionTecnologias div h3 {
    margin: 20px 0px 10px 0px;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: var(--box-shador-titulo)
}

.classTec {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.aTecnologias {
    padding: 5px;
    width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 0.9rem;
    transition: all 0.2s;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.aTecnologias:hover {
    background-color: rgb(86, 86, 139);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.aTecnologias div {
    width: 60px;
    height: 60px;
}

.aTecnologias div img {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.aTecnologias:hover div img {
    transform: scale(1.1);
}

.aTecnologias p {
    margin-top: 1px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secundario)
}

footer div a {
    margin: 5px 0px;
    padding: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: white;
}

footer div a p {
    margin: 0px;
    display: inline-block;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navVisible {
    left: 0px;
}

.rotarHorario {
    transform: translate(0px, calc(var(--ancho-boton-navBar)/2)) rotate(45deg) scale(1.41421356237);
}

.desaparecer {
    transform: scale(0);
}

.rotarAntiHorario {
    transform: translate(0px, calc(-1*var(--ancho-boton-navBar)/2)) rotate(-45deg) scale(1.41421356237);
}

@media screen and (max-width: 768px){
    #botonNavBar {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: var(--ancho-boton-navBar);
        width: var(--ancho-boton-navBar);
        cursor: pointer;
        user-select: none;
    }

    #botonNavBar div {
        transition: all 0.2s;
    }

    nav ul {
        flex-direction: column;
        border: 1px solid rgb(0, 0, 0);
        height: 200px;
        width: var(--ancho-navBar-responsive);
        position: absolute;
        top: var(--altura-header);
        left: calc(-1*var(--ancho-navBar-responsive));
        background-color: var(--color-secundario);
        transition: all 0.2s;
    }

    nav ul li {
        width: 100%;
        font-size: 1rem;
        border-radius: 0px;
    }

    .fondo {
        height: calc(100vh - var(--ancho-boton-navBar));
        width: 100vw;
        position: fixed;
        top: var(--altura-header);
        left: -100vw;
        backdrop-filter: blur(4px);
        filter: brightness(90%);
        transition: all 0.2s;
    }

    .verFondo {
        left: 0px;
    }

    #botonNavBar div {
        height: 0px;
        outline: 1px solid rgb(0, 0, 0);
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5em;
    }

    .div-sobreMi div p {
        font-size: 1rem;
    }

    footer div a {
        margin: 3px 0px;
        padding: 2px;
    }

    footer div a p {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hoverr {
        transition: all 0.5s;
    }
    
    .hoverr:hover {
        background-color: rgb(86, 86, 139);
    }
}
